/* Footer.css */
.footer {
    background-color: var(--color-dark-green); /* Using the global color variables */
    color: white;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
  }
  
  .footer__content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  /* Footer sections */
  .footer__section {
    margin-bottom: 20px;
  }
  
  .footer__section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: var(--color-light-green);
  }
  
  .footer__section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer__section ul li {
    margin-bottom: 8px;
  }
  
  .footer__section ul li a {
    color: var(--color-light-green);
    text-decoration: none;
  }
  
  .footer__section ul li a:hover {
    text-decoration: underline;
  }
  
  /* Social media links */
  .footer__social ul {
    display: flex;
    gap: 15px;
  }
  
  .footer__social ul li {
    margin-bottom: 0;
  }
  
  /* Copyright section */
  .footer__copy p {
    margin: 0;
    font-size: 0.9em;
  }
  
  /* Responsive design */
  @media (min-width: 768px) {
    .footer__content {
      flex-direction: row;
      text-align: left;
    }
  
    .footer__section {
      margin-bottom: 0;
    }
  
    .footer__links ul {
      display: flex;
      gap: 20px;
    }
  
    .footer__links ul li {
      margin-bottom: 0;
    }
  
    .footer__copy {
      text-align: right;
    }
  }
  